* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#imp {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}
#main {
  height: 80%;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: gloria;
}
#nav {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px 40px;
}

#navpart1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav h3 {
  font-size: 15px;
  font-weight: 500;
  border: 1.5px solid black;
  padding: 5px 10px;
  border-radius: 50px;
}
#navpart1 i {
  border: 1.5px solid black;
  padding: 5px 8px;
  border-radius: 50px;
  font-weight: 400;
}
#navpart2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navpart2 i {
  color: lightgrey;
  padding-right: 3px;
  font-size: 22px;
}
#nav h1 {
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  text-transform: uppercase;
}
#nav button {
  font-size: 13.5px;
  font-weight: 500;
  border: 1.5px solid black;
  padding: 5px 10px;
  border-radius: 50px;
  background: white;
}
#nav button:nth-child(2) {
  background-color: lightgrey;
  color: white;
}
#main > h1 {
  font-size: 120px;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
img {
  height: 42%;
  width: 18%;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#img1 {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#img2 {
  transform: translate(-50%, -50%) rotate(-20deg);
}
#img3 {
  transform: translate(-50%, -50%) rotate(-10deg);
}

h5 {
  position: absolute;
  left: 5%;
  bottom: 7%;
  font-weight: 400;
}
#btm-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-weight: 400;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
  margin-left: 5px;
  padding-right: 10px;
  font-size: 25px;
}
